{% comment %} <div style="display: flex; flex-wrap: wrap; gap: 20px; justify-content: center;"> {% endcomment %}
    {% for rec in recm %}
    <div class="book">
        <div class="cover">
            <img src="https://image.tmdb.org/t/p/w500{{ rec.similar_movie.poster_path }}"
                 alt="{{ rec.similar_movie.title }}"
                 style="width: 100%; height: 100%; object-fit: cover; border-radius: 20px;">
        </div> 
        <p style="text-align: center; font-size: 14px; margin-top: 10px;">
            {{ rec.similar_movie.title }}<br>
            <small>{{ rec.similar_movie.release_date }}</small>
        </p>
        <br>
        <a href="{% url "movie_detail" rec.similar_movie.movie_id %}" target="_blank">Details</a>
        
    </div> 
    {% endfor %}
{% comment %} </div> {% endcomment %}
